<div class="section" [formGroup]="group">
  <app-input formControlName="vascularAccess" type="number" labelText="Accesos vasculares: Soluciones, cantidades, cateter a utilizar" />
  <app-input formControlName="temperatureControl" type="number" labelText="Manejo adecuado de la temperatura con mantas, agentes fisicos" />
  <app-input formControlName="drugAdministration" type="number" labelText="Seleccion, dosis y administracion de farmacos" />
  <app-input formControlName="patientPositioning" type="number" labelText="Posicion del paciente" />
  <app-input formControlName="packaging" type="number" labelText="Empaquetamiento del paciente" />
  <app-input formControlName="crumRegulation" type="number" labelText="Regulacion del paciente en caso de ser necesario a CRUM" />
  <app-input formControlName="uniform" type="number" labelText="Presencia del alumno (uniforme)" />
  <app-input formControlName="workTeam" type="number" labelText="Equipo de trabajo: Botiquin, EPP, Diagnostico" />
  <app-input formControlName="interventionsPerformed" type="number" labelText="Realiza intervenciones en el paciente: SI / NO" />
  <app-input formControlName="teamWork" type="number" labelText="Trabajo en equipo: SI / NO" />
  <app-input formControlName="correctDiagnosis" type="number" labelText="Identifica diagnosticos" />
</div>
