<div class="section" [formGroup]="group">
  <app-input formControlName="signs" type="number" labelText="Signos" />
  <app-input formControlName="symptoms" type="number" labelText="Sintomas" />
  <app-input formControlName="allergies" type="number" labelText="Alergias" />
  <app-input formControlName="medications" type="number" labelText="Medicamentos" />
  <app-input formControlName="conditions" type="number" labelText="Patologias" />
  <app-input formControlName="riskFactors" type="number" labelText="Factores de riesgo" />
  <app-input formControlName="livings" type="number" labelText="Liberaciones" />
  <app-input formControlName="previousEvents" type="number" labelText="Eventos previos" />
</div>
