<div class="section" [formGroup]="group">
  <app-input formControlName="head" type="number" labelText="Cabeza" />
  <app-input formControlName="neck" type="number" labelText="Cuello" />
  <app-input formControlName="thorax" type="number" labelText="Torax" />
  <app-input formControlName="abdomen" type="number" labelText="Abdomen" />
  <app-input formControlName="pelvis" type="number" labelText="Pelvis" />
  <app-input formControlName="spine" type="number" labelText="Columna" />
  <app-input formControlName="lowerExtremities" type="number" labelText="MT" />
  <app-input formControlName="upperExtremities" type="number" labelText="MP" />
</div>
