<div class="section">
  <button class="mobile-btn" (click)="toggleSidebar()">
    {{ isOpen() ? '✖' : '☰' }}
  </button>

  @if (isOpen()) {
    <div class="overlay" (click)="toggleSidebar()"></div>
  }

  <aside class="sidebar" [class.open]="isOpen()" [class.collapsed]="isCollapse()">
    <div class="sidebar-header">
      <div class="logo">
        <span class="logo-box">Med</span>
        @if (!isCollapse()) {
          <h1>Cases</h1>
        }
      </div>

      <button class="collapse-btn" (click)="toggleCollapse()" [class.rotated]="isCollapse()">
        <i data-lucide="chevron-left" [class.rotated]="isCollapse()"></i>
      </button>
    </div>

    <nav class="nav">
      @for (item of menuItem; track item.name) {
        <button
          class="nav-item"
          [class.active]="activeItem() === item.name"
          (click)="setActive(item.name)"
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          <i [attr.data-lucide]="item.icon"></i>

          @if (!isCollapse()) {
            <span>{{ item.name }}</span>
          }
        </button>
      }
    </nav>

    @if (!isCollapse()) {
      <div class="footer">
        <div class="user">
          <div class="avatar">JD</div>
          <div>
            <p class="name">Med Cases</p>
            <p class="email">med@example.com</p>
          </div>
        </div>
      </div>
    }
  </aside>
</div>
