<aside class="sidebar">
  <div class="logo">Med Cases</div>

  <nav class="menu">
    <a routerLink="/dashboard/home">
      <span class="material-icons">dashboard</span>
      <span class="text">Inicio</span>
    </a>

    <a routerLink="/dashboard/maestro/crear-caso">
      <span class="material-icons">assignment</span>
      <span class="text">Crear Caso</span>
    </a>

    <a routerLink="/dashboard">
      <span class="material-icons">science</span>
      <span class="text">Casos Creados</span>
    </a>

    <a routerLink="/dashboard">
      <span class="material-icons">upload_file</span>
      <span class="text">Revisiones Pendientes</span>
    </a>
  </nav>
</aside>
