<div
  class="input-control"
  [class.input-control--disabled]="disabled"
  [class.input-control--with-suffix]="suffix()"
>
  @if (labelText()) {
    <label class="input-control__label">
      {{ labelText() }}
    </label>
  }

  <div class="input-control__field">
    <input
      class="input-control__input"
      [type]="type() === 'number' ? 'text' : type"
      [inputMode]="type() === 'number' ? 'decimal' : 'text'"
      [value]="value"
      [placeholder]="placeHolderText()"
      [disabled]="disabled"
      [attr.maxlength]="maxLength()"
      (keydown)="onKeyDown($event)"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />

    @if (suffix(); as suffixText) {
      <span class="input-control__suffix" aria-hidden="true">
        {{ suffixText }}
      </span>
    }
  </div>
</div>
