<div [formGroup]="group" class="section">
  <app-input labelText="Nombre del paciente" formControlName="patientName" type="text" />

  <label>Genero</label>
  <select formControlName="gender">
    <option value="MALE">Hombre</option>
    <option value="FEMALE">Mujer</option>
    <option value="OTHER">Otro</option>
  </select>

  <app-input labelText="Edad" formControlName="age" type="number" />

  <app-input labelText="Historial Medico" formControlName="medicalHistory" type="text" />

  <app-text-area labelText="Medicamentos" formControlName="medications" />
</div>
