<div [formGroup]="group" class="section">
  <app-input labelText="Nombre del paciente" formControlName="patientName" type="text" />

  <app-select formControlName="gender" labelText="Género" [options]="[
    { label: 'Hombre', value: 'MALE' },
    { label: 'Mujer', value: 'FEMALE' },
    { label: 'Otro', value: 'OTHER' }
  ]" />

  <app-input labelText="Edad" formControlName="age" type="number" />

  <app-input labelText="Historial Medico" formControlName="medicalHistory" />

  <app-text-area labelText="Medicamentos" formControlName="medications" />
</div>