<div class="patient-section" [formGroup]="group">
  <div class="patient-section__field patient-section__field--name">
    <app-input labelText="Nombre del paciente" formControlName="patientName" type="text" />
  </div>

  <div class="patient-section__field patient-section__field--age">
    <app-input labelText="Edad" formControlName="age" type="number" />
  </div>

  <div class="patient-section__field patient-section__field--gender">
    <app-select
      formControlName="gender"
      labelText="Género"
      [options]="[
        { label: 'Hombre', value: 'MALE' },
        { label: 'Mujer', value: 'FEMALE' },
        { label: 'Otro', value: 'OTHER' },
      ]"
    />
  </div>

  <div class="patient-section__field patient-section__field--history">
    <app-input labelText="Historial médico" formControlName="medicalHistory" type="text" />
  </div>

  <div class="patient-section__field patient-section__field--medications">
    <app-text-area labelText="Medicamentos" formControlName="medications" />
  </div>
</div>
