<section class="cards">
  <div class="card">
    <div class="card-top">
      <h4>Actividades</h4>
      <span class="material-icons">menu_book</span>
    </div>

    <h2>12</h2>
    <p>Actividades activas</p>
  </div>

  <div class="card">
    <div class="card-top">
      <h4>Pendientes</h4>
      <span class="material-icons">schedule</span>
    </div>

    <h2>5</h2>
    <p>Por entregar</p>
  </div>

  <div class="card">
    <div class="card-top">
      <h4>Envíos</h4>
      <span class="material-icons">task_alt</span>
    </div>

    <h2>24</h2>
    <p>Actividades enviadas</p>
  </div>

  <div class="card">
    <div class="card-top">
      <h4>Casos</h4>
      <span class="material-icons">local_hospital</span>
    </div>

    <h2>18</h2>
    <p>Casos completados</p>
  </div>
</section>
