<form [formGroup]="assignmentForm" (ngSubmit)="submitAssignment()">

  <div class="cases-container">

    @for (c of cases; track c.id) {

      <div
        class="case-card"
        [class.selected]="(assignmentForm.value.caseIds ?? []).includes(c.id)"
        (click)="toggleCase(c.id)"
      >
        <h3>{{ c.title }}</h3>
        <p>{{ c.patientName }}</p>
        <small>{{ c.area }}</small>

        @if ((assignmentForm.value.caseIds ?? []).includes(c.id)) {
          <span class="badge">Seleccionado</span>
        }
      </div>

    }

  </div>

  <div>
    <app-input
      formControlName="title"
      type="text"
      placeHolderText="Ej. Actividad 1"
      labelText="Título"
    />

    @if (
      assignmentForm.controls.title.invalid &&
      assignmentForm.controls.title.touched
    ) {
      <small>El título es obligatorio.</small>
    }
  </div>

  <div>
    <app-text-area
      formControlName="description"
      labelText="Descripción"
      placeHolderText="Descripción de la actividad"
    />
  </div>

  <app-button type="submit" text="Crear actividad" />

</form>