<div class="section" [formGroup]="group">
  <app-input formControlName="sceneManagement" type="number" labelText="Manejo de la escena" />
  <app-input formControlName="situationManagement" type="number" labelText="Manejo de la situacion" />
  <app-input formControlName="safetyManagement" type="number" labelText="Manejo de la seguridad" />
  <app-input formControlName="resourceRequest" type="number" labelText="Solicitud de servicios y recursos adicionales" />
  <app-input formControlName="overallImpression" type="number" labelText="Impresion general del paciente (AVDI)" />
</div>
