<article class="submission-card">

  <div class="case-submission-info">
    <h2>
      {{ submission.student.firstName }}
      {{ submission.student.lastName }}
    </h2>

    <h3>{{ submission.assignment.title }}</h3>

    <h4>{{ submission.case.title }}</h4>
  </div>

  @if (submission.assignment.description) {
  <p class="description">
    {{ submission.assignment.description }}
  </p>
  }

  <div class="info">

    <div class="row">
      <span class="label">Estado</span>

      @if (submission.status === 'SUBMITTED') {
      <span class="status">
        ✓ Entregado
      </span>
      }
    </div>

    <div class="row">
      <span class="label">Enviado</span>
      <span class="value">
        {{ submission.createdAt | date:'medium' }}
      </span>
    </div>

  </div>

  <div class="actions">
    <app-button text="Evaluar entrega" (clicked)="open()" />
  </div>

</article>