<div class="general-section" [formGroup]="group">
  <div class="general-section__field general-section__field--title">
    <app-input formControlName="title" type="text" labelText="Consulta" />
  </div>

  <div class="general-section__field general-section__field--wide">
    <app-text-area formControlName="consult" labelText="Motivo de atención" />
  </div>

  <div class="general-section__field general-section__field--wide">
    <app-text-area formControlName="scenery" labelText="Escenario" />
  </div>
</div>
