<div class="section" [formGroup]="group">
  <div class="cincinnati" formGroupName="cincinnati">
    <app-select
      formControlName="facialDroop"
      labelText="Algo Facial"
      [options]="cincinnatiOptions"
    />

    <app-select formControlName="armDrift" labelText="Brazo" [options]="cincinnatiOptions" />

    <app-select formControlName="speech" labelText="Habla" [options]="cincinnatiOptions" />
  </div>
  <app-input labelText="Glasgow" formControlName="glasgow" type="number" />
</div>
