.cincinnati {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 768px) {
  .cincinnati {
    grid-template-columns: 1fr;
  }
}
