.cards {
  background: rgba($color: #000000, $alpha: 0.09);
  backdrop-filter: blur(20px);
  border: 1px solid #d8e0ea;
  border-radius: 20px;
  padding: 14px;
  box-shadow: 0 1px 0 rgba($color: #fff, $alpha: 0.8) inset;

  .title {
    color: #667085;
    font-size: 0.78rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .value {
    color: #000;
    font-weight: 700;
    margin-top: 4px;
  }
}
