<div class="section" [formGroup]="group">
  <app-input formControlName="hemorrhageIdentification" type="number" labelText="Identifica hemorragias exanguitantes" />
  <app-input formControlName="hemorrhageControl" type="number" labelText="Control de hemorragias" />
  <app-input formControlName="airwayAssessment" type="number" labelText="Evaluacion de la VA" />
  <app-input formControlName="airwayManagement" type="number" labelText="Tratamiento a considerar para abrir VA" />
  <app-input formControlName="ventilationAssessment" type="number" labelText="Evaluacion de la ventilacion (RFC)" />
  <app-input formControlName="lungAuscultation" type="number" labelText="Auscutacion de campos pulmonares" />
  <app-input formControlName="oxygenTherapy" type="number" labelText="Administra y selecciona dispositivo Para oxigeno terapia" />
  <app-input formControlName="pulseAssessment" type="number" labelText="Evalua RFC del pulso periferico y central" />
  <app-input formControlName="capillaryRefill" type="number" labelText="Evalua llenado capilar" />
  <app-input formControlName="skinAssessment" type="number" labelText="Evulua temperatura, coloracion y condicion de la piel" />
  <app-input formControlName="pirrl" type="number" labelText="Evalua PIRRL" />
  <app-input formControlName="glasgow" type="number" labelText="Evulua y determina ECG" />
  <app-input formControlName="exposure" type="number" labelText="Exposion del paciente" />
  <app-input formControlName="temperatureManagement" type="number" labelText="Manejo de temperatura y pudor del paciente" />
</div>
