<aside class="sidebar">
  <div class="logo">Med Cases</div>

  <nav class="menu">
    <a routerLink="/dashboard/home">
      <span class="material-icons">dashboard</span>
      <span class="text">Inicio</span>
    </a>

    <a routerLink="/dashboard/maestro/crear-caso">
      <span class="material-icons">assignment</span>
      <span class="text">Tareas</span>
    </a>

    <a routerLink="/dashboard/alumno/caso">
      <span class="material-icons">science</span>
      <span class="text">Casos Clinicos</span>
    </a>

    <a routerLink="/dashboard">
      <span class="material-icons">upload_file</span>
      <span class="text">Enviados</span>
    </a>

    <a routerLink="/dashboard">
      <span class="material-icons">calendar_month</span>
      <span class="text">Pendientes</span>
    </a>
  </nav>
</aside>
