<div class="right-panel">
  <div class="panel">
    <h3>Pendientes</h3>

    <div class="task">
      <div class="task-icon">
        <span class="material-icons">warning</span>
      </div>

      <div>
        <strong>Reporte clínico</strong>
        <p>Mañana</p>
      </div>
    </div>

    <div class="task">
      <div class="task-icon">
        <span class="material-icons">science</span>
      </div>

      <div>
        <strong>Laboratorio</strong>
        <p>Viernes</p>
      </div>
    </div>
  </div>
</div>
