// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --shadow: 0 18px 48px rgba(22, 35, 54, 0.1);
  --line: #d8e0ea;
}

html {
  scrollbar-gutter: scroll;
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
