<div class="section" [formGroup]="group">
  <app-input formControlName="onset" type="number" labelText="Onset" />
  <app-input formControlName="provocation" type="number" labelText="Provocacion" />
  <app-input formControlName="quality" type="number" labelText="Quality (calidad)" />
  <app-input formControlName="region" type="number" labelText="Region" />
  <app-input formControlName="severity" type="number" labelText="Severity" />
  <app-input formControlName="time" type="number" labelText="Time" />
</div>
