<div class="table-container">
  <h3>Actividades recientes</h3>

  <table>
    <thead>
      <tr>
        <th>Materia</th>
        <th>Actividad</th>
        <th>Fecha</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Anatomía</td>
        <td>Sistema óseo</td>
        <td>Hoy</td>

        <td>
          <span class="status pending"> Pendiente </span>
        </td>
      </tr>

      <tr>
        <td>Farmacología</td>
        <td>Medicamentos</td>
        <td>Mañana</td>

        <td>
          <span class="status progress"> En progreso </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
